.craft {
    margin-block: 4rem;
    background-color: var(--craft-bg);
    border-radius: 12px;
    padding-block: 3rem;

}

/* Craft bottom -one css */
.craft-bottom-one {
    margin-block-start: 3rem;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(12, 20px);
    border-block: 2px var(--dotted-border-color) dashed;
}

.video-one {
    grid-area: 1 / 1 /end/ 14;
    align-content: center;
}

.reel-one {
    grid-area: 1 / 14 /end/ 19;
}

.reel-two {
    grid-area: 1 / 19 /end/ 24;
}

.reel-two,
.reel-one {
    border-inline-start: 2px var(--dotted-border-color) dashed;
    width: 100%;
    height: 100%;
}

.video-container,
.reel-container {
    padding-inline: 30px;
    padding-block: 30px;
    width: 100%;
    height: 100%;

    transition: filter 0.50s ease;
    position: relative;
    align-content: center;
    border-radius: 8px;
}

.filter-grey {
    filter: grayscale(100%);
}

.video-container video,
.reel-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.reel-container:hover,
.video-container:hover {
    filter: grayscale(0%);
    pointer-events: auto;
}

.hashvideo {
    padding: 30px;
}

@media (min-width: 320px) and (max-width: 500px) {

    .craft {
        margin-block: 1rem;
    }


    .craft-bottom-one {
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        grid-template-rows: repeat(23, 20px);
        border-block: 2px var(--dotted-border-color) dashed;
    }

    .video-one {
        grid-area: 1 / 1 /13/ end;
        align-content: center;

        .video-container {
            padding: 20px !important;
        }
    }

    .reel-one {
        grid-area: 13 / 1 /end/ end;
        border-inline-start: none;
        border-block-start: 2px var(--dotted-border-color) dashed;

        .reel-container {
            padding: 20px;

        }
    }

    .reel-two {
        display: none;
        border: none;
    }

}

@media (min-width: 700px) and (max-width: 1000px) {

    .craft {
        margin-block: 3rem;
    }

    .video-one {
        .video-container {
            padding-inline: 10px;
            padding-block: 10px;
        }
    }

    .reel-two,
    .reel-one {
        .reel-container {
            padding-inline: 10px;
            padding-block: 10px;

        }
    }
}

@media (min-width: 500px) and (max-width: 700px) {

    .video-container,
    .reel-container {
        padding-inline: 20px;
        padding-block: 20px;
    }

    .video-container video,
    .reel-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-one {
        grid-area: 1 / 1 /end/ 16;
        align-content: center;
    }

    .reel-one {
        grid-area: 1 / 16 /end/ end;
    }

    .reel-two {
        display: none;
    }
}


/* Craft top box */
.craft-top {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.craft-head-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-one,
.head-three {
    width: 20%;
    display: flex;
    justify-content: center;

}

.head-two {
    width: 80%;
    font-size: var(--fontSize-h1);
    color: var(--bg-orange);
    text-align: center;
}

.craft-lottie-one,
.craft-lottie-two {
    width: 50%;
}

.craft-lottie-two {
    transform: scaleX(-1);
}


@media (min-width: 320px) and (max-width: 700px) {

    .head-one,
    .head-three {
        display: none;
    }

    .head-two {
        width: 100%;
        padding-inline: 1rem;
    }
}

/* Craft Para css */
.craft-para {
    text-align: center;
    margin-block-start: 3rem;
    padding-inline: 8rem;
    font-size: 1.2rem;

    p {
        color: var(--para-color);
    }
}

.craft-para :nth-child(2) {
    margin-block: 1rem;
    color: var(--bg-green);
}

.bg-yellow {
    color: var(--bg-yellow);
}

@media (min-width: 320px) and (max-width: 500px) {
    .craft-para {
        text-align: center;
        margin-block-start: 3rem;
        padding-inline: 1rem;
        font-size: 0.8rem;
    }
}

@media (min-width: 500px) and (max-width: 900px) {
    .craft-para {
        text-align: center;
        margin-block-start: 3rem;
        padding-inline: 1.2rem;
        font-size: 0.9rem;
    }
}