main {
    width: 100%;
}


.main-grid {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.small-img {
    width: 20%;
    height: 360px;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

.big-img {
    width: 30%;
    height: 420px;

    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

.gallery-heading {
    padding-block-start: 20px;
    text-align: center;
    margin-top: 20px;

    h1 {
        font-size: 4rem;
        padding-block-end: 20px;
    }

    p {
        font-size: 1.2rem;
        color: var(--para-color);
    }
}

.gallery-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}


.gallery-reel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.reel-para {
    padding-block-start: 40px;
    width: 50%;
    text-align: center;
    color: var(--para-color);
}

.gallery-reel {
    width: 100%;
    display: flex;
    padding-inline: 60px;
    padding-block-start: 50px;

    .gallery-reel>div {
        width: 30%;
    }

    .gallery-reel-show {
        padding-block: 20px;
        padding-inline: 20px;
        border-radius: 12px;

        &:hover {
            border: 1px solid var(--para-color);
        }
    }
}

.gallery-video-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.gallery-video {
    display: flex;
    width: 100%;
    gap: 10px;
    padding-inline: 70px;
    margin-block: 30px;
}

.gallery-video-show {
    padding-block: 20px;
    padding-inline: 20px;
    border-radius: 12px;

    &:hover {
        border: 1px solid var(--para-color);
    }
}

.gallery-video-show>div {
    width: 100%;
}

.video-last {
    padding-inline: 30px;
    padding-block-end: 30px;
}


@media (min-width: 950px) and (max-width: 1200px) {

    .main-grid {

        gap: 12px;
    }

    .small-img {
        width: 18%;
        height: 300px;
    }

    .big-img {
        width: 26%;
        height: 360px;
    }

    .reel-para {
            padding-block-start: 40px;
            width: 70%;
            text-align: center;
        }

}


@media (min-width: 650px) and (max-width: 950px) {

    .main-grid {
        gap: 12px;

    }

    .small-img {
        width: 30%;
        height: 300px;
    }

    .big-img {
        width: 40%;
        height: 360px;
    }

    .no-img-1 {
        display: none;
    }

    .gallery-heading {
        padding-block-start: 20px;
        padding-inline: 50px;
        text-align: center;
        margin-top: 20px;

        h1 {
            font-size: 3.4rem;
            padding-block-end: 20px;
        }

        p {
            font-size: 1rem;
            color: var(--para-color);
        }
    }

    .gallery-reel {

        padding-inline: 20px;
        padding-block-start: 50px;

        .gallery-reel-show {
            padding-block: 10px;
            padding-inline: 14px;
            border-radius: 12px;


        }
    }

    .reel-para {
        padding-block-start: 40px;
        width: 70%;
        text-align: center;
    }

}


@media (min-width: 300px) and (max-width: 650px) {

    .main-grid {
        gap: 12px;
        justify-content: center;

    }

    .big-img {
        width: 80%;
        height: 360px;
    }

    .no-img-1,
    .no-img-2 {
        display: none;
    }


    .gallery-heading {
        padding-block-start: 20px;
        padding-inline: 40px;
        text-align: center;
        margin-top: 20px;

        h1 {
            font-size: 2.5rem;
            padding-block-end: 20px;
        }

        p {
            font-size: 1rem;
            color: var(--para-color);
        }
    }

}

/* Only Gallery Video Reel */

@media (min-width: 500px) and (max-width: 650px) {

    .gallery-reel {

        padding-inline: 10px;
        padding-block-start: 20px;

        .gallery-reel-show {
            padding-block: 10px;
            padding-inline: 10px;
            border-radius: 12px;


        }
    }

    .reel-para {
        padding-block-start: 40px;
        width: 70%;
        text-align: center;

        font-size: 0.9rem;
    }

}

@media (min-width: 300px) and (max-width: 500px) {

    .gallery-reel {

        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-inline: 60px;
        padding-block-start: 30px;

        .gallery-reel-show {
            padding-block: 20px;
            padding-inline: 20px;

        }
    }



    .reel-para {
        padding-block-start: 20px;
        width: 70%;
        text-align: center;

        font-size: 0.7rem;
    }

    .gallery-video {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding-inline: 10px;
        margin-block: 30px;
    }


    .video-last {


        width: 100%;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {
    .gallery-video {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding-inline: 30px;
        margin-block: 30px;
    }


    .video-last {


        width: 100%;
    }
}