.brand-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.brands {
    width: 77.15%;
    display: flex;
    overflow-x: hidden;
    gap: 20px;
    flex-shrink: 0;
    /* background-color: antiquewhite; */
    margin-inline: auto;
    border-inline: 2px var(--dotted-border-color) dashed;
    border-block-start: 2px var(--dotted-border-color) dashed;
}

.brand-one {
    display: flex;
    gap: 20px;
    flex-shrink: 0;

}

.brand-img {
    width: 5.5rem;
    padding: 20px;
}


.testt {
    background: transparent !important;
    width: 100px;

}

/* .MyGradient {
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
} */


@media (min-width: 1100px) and (max-width: 1400px) {

    .brand-container {
        margin-top: -70px;
        gap: 30px;

    }

    .brand-img {
        width: 6rem;
        padding: 20px;
    }

}

@media (min-width: 850px) and (max-width: 1099px) {

    .brand-container {
        margin-top: -80px;
        gap: 30px;

    }

    .brand-img {
        width: 4rem;
        padding: 10px;
    }

}

@media (min-width: 500px) and (max-width: 850px) {

    .brand-container {
        margin-top: -130px;
        gap: 10px;

    }

    .brand-img {
        width: 4rem;
        padding: 10px;
    }

}


@media (min-width: 300px) and (max-width: 500px) {
    .brand-container {
        margin-top: -160px;
        gap: 10px;

    }

    .brand-img {
        width: 3rem;
        padding: 10px;
    }

    .brands {
        width: 93%;

    }
}