.work-para {
    margin-block-start: 1rem;
    width: 70%;
    margin-inline: auto;
    text-align: center;

    p {
        color: var(--para-color);
        font-size: 1.1rem;
        padding-block-end: 0.4rem;
    }
}



.work-container {
    padding-inline: 4rem;
}


@media (min-width: 320px) and (max-width: 500px) {

    .work-container {
        padding-inline: 1.5rem;
    }

    .work-para {
        margin-block-start: 1rem;
        width: 90%;
        margin-inline: auto;
        text-align: start;
        padding-inline: 0.5rem;


    }
}




img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}